body{
    font-family: 'Gulzar', serif;
     
}
section{
    margin-bottom: 100px;
}
@media screen and(max-width:576px) {
    .blog-details{
        grid-template-columns: repeat(1 1fr);
    }
}
@media  screen and(min-width:577px) and(max-width:768px) {
    .blog-details{
        grid-template-columns: repeat(2 1fr);
    }
    
}
/*top banner design*/
.banner-heading a{
    border: 2px solid red;
    background-color: red;
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 5px;   
}

.top-banner{
    display: flex;
    border: 2px solid black;
    background-color: black;
    color: white;
    border-radius: 20px;
}

/*blog-area design - left side*/
.blog-button{
    border: 2px solid black;
    border-radius: 10px;
    height: 25%;
    width: 15%;
    background-color: black;
    padding: 20px;
}
.blog-button a{
    text-decoration: none;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    border-radius: 10px;
    display: block;
    
    
}
#btn{
    background-color: brown;
    color: white;
}

/*blog-area design - right side*/
.blog-area{
    display: flex;
    margin-left: 20px;
    
}
.blog-details{
    border: 2px solid white;
    display: grid;
    grid-template-rows: repeat(3 1fr);
    grid-template-columns: repeat(3 1fr);
    height: 85%;
    width: 85%;
    gap: 3px;
    }
.blogs{
        border: 1px solid white;
        padding: 2px;
        
    }

/*footer design*/
footer{
    height: 100%;
    width: 100%;
    background-color: black;
    
    color: white;
    text-align: center;
    font-size: 25px;
}
.footer-link a{
    text-decoration: none;
    justify-content: center;
    color: white;
    padding: 5px;
    border: 2px solid black;
}
.footer-icon i{
 color: white;
 padding: 15px;
}
/* upcomming page img design */
.img-flex{
    display: flex;
}
.img-flex img{
    padding: 3px;
}